<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>UICHCC Short URL Manual</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/11.7.27/sweetalert2.min.css">
    <!-- Favicons -->
    <link rel="icon" href="/static/img/favicon.ico">
    <meta name="theme-color" content="#7952b3">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
</head>
<script>
    function setBtnStatus() {
        const matchCode = $("#code").val().match(/[0-9]{6}/);
        const isDisabled1 = !$("#url").val().match("http(s)?://(.+)\.(.{2,})");
        const isDisabled2 = !matchCode || matchCode[0] !== $("#code").val();
        const isDisabled3 = $("#shorturl").val().length === 0;
        $("#btn-save").attr('disabled', isDisabled1 || isDisabled2 || isDisabled3);
    }
</script>
<body class="text-center">
<main class="form-signin">
    <form>
        <img class="mb-4" src="/static/img/uichccblack.svg" alt="" height="57">
        <h1 class="h3 mb-3 fw-normal">Manual Short URL</h1>
        <div class="mb-3 text-start">
            <label for="url" class="form-label">Original URL</label>
            <input type="text" id="url" class="form-control" placeholder="e.g. https://example.com" required>
        </div>
        <div class="mb-3 text-start">
            <label for="shorturl" class="form-label">Short URL</label>
            <input type="text" id="shorturl" class="form-control" placeholder="Short URL" required>
        </div>
        <div class="mb-3 text-start">
            <label for="code" class="form-label">Invitation Code</label>
            <input type="text" id="code" class="form-control" placeholder="Invitation Code" required>
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-primary form-control" id="btn-save" disabled>Save</button>
        </div>
        <br/>
        <p class="mt-5 mb-3 text-muted">&copy; {{ year }} UICHCC. All rights reserved.</p>
    </form>
</main>

</body>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/limonte-sweetalert2/11.7.27/sweetalert2.all.min.js"></script>
<script src="/static/js/manual.js"></script>
</html>
